.form {
  /* display: flex;
  flex-direction: column; */
}

.form label {
  font-weight: bold;
  margin-bottom: 10px;
}

.form input {
  display: block;
  height: 30px;
  margin-bottom: 50px;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions button {
  background-color: #56a8cb;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  border: 1px solid #56a8cb;
}
